.custom-block-example{
	background-color: rgba(170, 111, 0, 0.25);
	color: var(--vp-custom-block-tip-text);
}

:root.dark .custom-block-example{
	background-color: rgba(170, 111, 0, 0.25);
	color: var(--vp-custom-block-tip-text);
}