.editCode{
	direction: ltr;
	position: absolute;
	display: inline-block;
	/*
	top: 20px;
	right: 64px;
	*/
	top: 60px;
	right: 12px;
	z-index: 3;
	font-size: 1.6em;
	text-decoration: none !important;
	opacity: 0;
	
	border: 1px solid var(--vp-code-copy-code-border-color);
	border-radius: 4px;
	width: 40px;
	height: 40px;
	background-color: var(--vp-code-copy-code-bg);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M12 20h9'/%3E%3Cpath d='M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4 12.5-12.5z'/%3E%3C/svg%3E");
	background-position: 50%;
	background-size: 20px;
	background-repeat: no-repeat;
	transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;
	
}

.editCode:hover{
	border-color: var(--vp-code-copy-code-hover-border-color);
	background-color: var(--vp-code-copy-code-hover-bg);
}

div[class*="language-"]:hover .editCode{
	opacity: 1;
}

.vp-doc div[class*="language-"]{
	min-height: 110px;
}